body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  width: 400px;
  height: auto;
  padding: 10px;
  background-color: blue;
  box-sizing: border-box;
  border-radius: 5px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  box-sizing: border-box;
}

.login button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login h4 {
  text-align: center;
  color: aliceblue;
}
